/*Start Login/signup*/
.login-page
{
    padding-top: 70px;
    height: 130vh;
    background-color: whitesmoke;
}
.login-page h1
{
    color: #666;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}
.login-page span
{
    cursor: pointer;
}
.login-page .selected-login{
    color:#ff4444;
}
.login-page .selected-signup{
    color:#308ccd;
}
.login-page .btn-info
{
    background-color: #ff4444;
    border-color: #ff4444;
}
.login-page .btn-success
{
    background-color: #308ccd;
    border-color: #308ccd;
}
.login-page form,.login-page .notices-errors
{
    max-width: 350px;
    margin: auto;
}
.login-page form input
{
    margin-bottom: 10px;
}
/* .login-page .signup
{
    display: none;
} */
.login-page .dsnone
{
    display: none;
}
.login-page .error-p
{
    background-color: #FFF;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    border-left: 3px solid rgb(190, 43, 43);
    padding: 3px 3px 3px 8px;
    margin-top: 10px;
    color: #bd6161;
}
.login-page .succes-registered
{
    border-left: 3px solid #080;
    padding-left: 7px;
    color: #088812;
    font-weight: 500;
}
/*End Login/Signup*/